<h1>Liste de vocabulaire</h1><h4 *ngIf="items && items.length">( {{ items.length }} Mots)</h4>
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th>Anglais</th>
            <th>Francais</th>
            <th>Thème</th>
            <th>Maitrise</th>
            <th> </th>
            <th> </th>
        </tr>
    </thead>
    <tr *ngFor="let item of items">
        <td>
              {{ item.anglais | titlecase }}
        </td>
        <td>{{ item.francais | titlecase }}</td>
        <td>{{ item.theme | titlecase }}</td>
        <td [style.color]="getColor(item.maitrise)"><fa-icon [icon]="faGraduationCap"></fa-icon></td>
        <td><a [routerLink]="['/edit', item.id]"><fa-icon [icon]="faEdit"></fa-icon></a></td>
        <td><a [routerLink]="['/delete', item.id]"><fa-icon [icon]="faTrashAlt"></fa-icon></a></td>
    </tr>
    <tr><td colspan="5" style="text-align:right"><a [routerLink]="['/edit', 0]"><b>Ajouter </b><fa-icon [icon]="faPlus" size="1x">  </fa-icon></a></td></tr>
    <tr *ngIf="!items || !items.length">
        <td colspan="5">Aucun mot trouvé</td>
    </tr>
</table>
<br />
