<ng-template [ngIf]="vocabItem">
  <form (ngSubmit)="onSubmit()" novalidate>
    <div class="d-flex flex-column p-2">
        <h3>Supprimer</h3>
        <ng-template [ngIf]="vocabItem.id > 0">
          <label>ID: {{vocabItem.id}}</label>
        </ng-template>
        <label>Anglais: {{vocabItem.anglais}}</label>
        <label>Français: {{vocabItem.francais}}</label>
        <label>Thème: {{vocabItem.theme}}</label>
        <div class="d-flex flex-row">
        <button type="submit" class="btn btn-dark m-1">Confirmer</button>
        <button class="btn btn-secondary m-1" (click)="cancel()">Annuler</button>
      </div>
      </div>
  </form>
</ng-template>
