<form *ngIf="vocabItem" #it="ngForm" (ngSubmit)="onSubmit(it)" novalidate>

  <div class="d-flex flex-column p-2">
    <h3>Matière: {{matiere.intitule}}</h3>
    <div *ngIf="vocabItem.id === 0"><h3>Nouveau</h3></div>
    <div *ngIf="vocabItem.id > 0"><h3>Modifier</h3><label>ID: {{vocabItem.id}}</label></div>
    <div class="form-group">
      <label>{{matiere.question}}</label>
      <input type="text" class="form-control" id="question" appInputAutoFocus required [(ngModel)]="vocabItem.question" name="question"
        #question="ngModel">
      <div [hidden]="question.valid || question.pristine" class="alert alert-danger">
        Name is required
      </div>
    </div>
    <div class="form-group">
      <label>{{matiere.reponse}}</label>
      <input type="text" class="form-control" id="reponse" required [(ngModel)]="vocabItem.reponse" name="reponse"
        #reponse="ngModel">
      <div [hidden]="reponse.valid || reponse.pristine" class="alert alert-danger">
        Name is required
      </div>
    </div>
    <div class="form-group">
      <label>Contexte</label>
      <input type="text" class="form-control" id="contexte" [(ngModel)]="vocabItem.contexte" name="contexte"
        #contexte="ngModel">
    </div>
    <div class="form-group">
      <label>Theme</label>
      <input type="text" class="form-control" id="theme" required [(ngModel)]="vocabItem.theme" name="theme"
        #theme="ngModel">
      <div [hidden]="theme.valid || theme.pristine" class="alert alert-danger">
        Name is required
      </div>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" [value]="vocabItem.bidirectionnel" [(ngModel)]="vocabItem.bidirectionnel" name="bidirectionnel"/>
        Interroger dans les deux sens.
      </label>
    </div>
    <div class="d-flex flex-row">
      <button type="submit" class="btn btn-dark m-1" [disabled]="!it.form.valid">Sauvegarder</button>
    </div>
  </div>
</form>
